@media only screen and (max-width:526px){

    .OtherNavItems{
        
        display: none;
    }
    .menu{
        /* background: b; */
        align-content:flex-end;
        /* position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-70%); */
    }
    .menu div{
        margin-bottom: 5px;
        width: 30px;
        height: 3px;
        border-radius: 15%;
        background-color: #fff;
    }
    .container{
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }
    .nHead{
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        /* height: 40000px; */
        /* background-color: red; */
        /* width: 100px; */
      
        padding: 10px;
        flex-direction: row;
        
        justify-content:space-around;
    }
    .priscas{
        padding: 0;
        width: 50%;
        height: 70px;
    text-align: start;
    font-size: 30px;
    z-index: 9999;
   
    }
    .ourService{
        flex-direction: column;
        height: 150vh;
        align-items: center;
    }
    .ourService .card{
        height: 60%;
        width: 95%;
    }
    .cpriscas .image{
        min-width: 200px;
        min-height: 200px;
        background: url(https://via.placeholder.com/200);
        margin:0;
    }
    .cpriscas{
        flex-direction: column;
    }
    .cpriscas .description{
        padding: 50px;
        padding-top: 10px;
         
        text-align: center;
    }
    .gallery-cell{
        width: 450px;
    }
    .gallery-cell p{
        position: absolute;
        top:55%;
        width: 85%;
        height: 40%;
        
        overflow:hidden;
    }   
    .overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color:  rgb(48, 5, 48);
        z-index: 998;
        top:-100vh;
        left: 50%;
        transform: translate(-50%,-100vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: .5s;
        opacity: 0;
    }
    .overlay div{
    
        
        width: 100%;
        
        padding: 45px 0;
        text-align: center;
        align-items: center;
       justify-content: space-around;
       transition: .5s;
        
    }
    .overlay div:nth-child(1){
        margin-top: 50px;
    }
    .overlay div:hover{
        background-color:rgba(15, 1, 15, 0.329) ;
    }
    #bars:checked  ~ .overlay{
        opacity: 1;
        transform: translate(-50%,100vh)
    } 

    .navItem{
        z-index: 9;
    }
    .card1{
        margin-bottom: 0;
    }
    .card1, .card2{
        flex-direction: column;
    }
    
    .gallaria .reviews{
        padding: 30px 30px;
        text-align: center;
    }
    .enquiry{
        height: 80vh;
        flex-direction: column;
        
    }
    .enquiry div{
        width: 100%;
        margin-bottom: 30px;
    }
    .moreContact div{
        margin-bottom: 5px;
    }
    }