*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
} body {
    width: 100%;
    
    margin: 0;
    padding: 0;
   
}
.nHead{
    background-color: green;
    position: relative;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 15, 78);
    color: white;
    font-family: Montserrat;
    padding: 25px;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.384);
}

.OtherNavItems{
    position: static;
    display: flex;
    padding-bottom: 15px;
    flex-direction: row;
    margin: auto;
}
.OtherNavItems div{
    position: sticky;
    margin-left: 20px;
    vertical-align: middle;
    z-index: 999;
   
}
.OtherNavItems div::after{
    content: '';
    margin-top: 5px;
    position: absolute;
    top:100%;
    left: 0%;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(197, 129, 4);
    transition: .5s;
}
.priscas{
    text-align: center;
    padding-bottom: 45px;
    font-size: 40px;
    color: rgb(226, 150, 7);
}
.OtherNavItems div:hover::after{
    width: 100%;
}
.gallery {
    background: rgb(48, 5, 48);
  }
  
  .gallery-cell {
    margin-top: 15px;
    border-radius: 15px;
    width: 66%;
    height: 400px;
    padding: 25px;
    font-family: Montserrat;
    color:rgb(255, 255, 255);
    margin-right: 10px;
    background: url(https://images.unsplash.com/photo-1555507036-ab1f4038808a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFrZXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    background-position: center;
    counter-increment: gallery-cell;
    
    box-shadow:0 0 10px rgba(0, 0, 0, 0.315);
  }
  .gallery-cell:nth-child(1){
      background: url(https://images.unsplash.com/photo-1483695028939-5bb13f8648b0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJha2VyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  }
  .gallery-cell:nth-child(2){
      background: url(https://images.unsplash.com/photo-1568254183919-78a4f43a2877?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8YmFrZXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
  }
  .gallery-cell:nth-child(3){
      background: url(https://c0.wallpaperflare.com/preview/167/509/265/bread-korea-bakery-baguette-bread.jpg);
      background-size: cover;
  }
  .gallery-cell h1{
      padding-top: 155px;
      padding-bottom: 30px;
  }
  .cpriscas{
      position: relative;
      width: 100%;
     
      
      margin: 45px 0;
     padding: 10px;
      font-size: 20px;
     
      font-family: Montserrat;
      display: flex;
      align-items: center;
      
  }
  .cpriscas .image{
      min-height: 300px;
      min-width: 300px;
      margin-right: 35px;
      border-radius: 50%;
     
     box-shadow: 0 0 30px rgba(128, 128, 128, 0.651);
     border: 8px solid  rgb(78, 15, 78);
     background: url(https://via.placeholder.com/300);
     border-bottom: 8px solid  rgb(226, 150, 7);
     
  }
.cpriscas .description{
    padding-top: 50px;
}
.area{
    z-index: -999;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.ourService{
    position: relative;
    
   
    margin-top: 50px;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 15px;
    background:  rgb(48, 5, 48);
    
}
.card{
    font-family: Montserrat;
    width:100%;
    position: sticky;
    height: 100%-15px;
    background: url(https://images.unsplash.com/photo-1483695028939-5bb13f8648b0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJha2VyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    border-radius: 10px;
    margin: 15px;
   
    
}
.card .description {
    font-size: 85%;
    position: absolute;
    top: 100%;
    height: 40%;
    transform: translateY(-100%);
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color:rgb(197, 129, 4);
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .2s;
}
.card .header{
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    padding: 15px;
}
.footer{
    position: relative;
    background-color: rgb(15, 1, 15);
    font-family: Montserrat;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top:100%;
    
}
.social{
    font-size: 20px;
    
}
.social a{
    margin: 20px;
}

.card .description:hover{
    height: 100%;
    font-size: 20px;
}
#bars{
    z-index: 999;
    display: none;
    background-color: red;
}
.menuBox{
    z-index: 999;
}
.overlay{
    display: none;
}
@media only screen and (max-width:526px){

    .OtherNavItems{
        
        display: none;
    }
    .menu{
        /* background: b; */
        align-content:flex-end;
        /* position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-70%); */
    }
    .menu div{
        margin-bottom: 5px;
        width: 30px;
        height: 3px;
        border-radius: 15%;
        background-color: #fff;
    }
    .container{
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }
    .nHead{
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        /* height: 40000px; */
        /* background-color: red; */
        /* width: 100px; */
        align-items: center;
        padding: 25px;
        flex-direction: row;
        
        justify-content: space-evenly;
    }
    .priscas{
        padding: 0;
        width: 9000%;
    text-align: start;
    font-size: 30px;
    }
    .ourService{
        flex-direction: column;
        height: 150vh;
        align-items: center;
    }
    .ourService .card{
        height: 60%;
        width: 95%;
    }
    .cpriscas .image{
        min-width: 200px;
        min-height: 200px;
        background: url(https://via.placeholder.com/200);
        margin:0;
    }
    .cpriscas{
        flex-direction: column;
    }
    .cpriscas .description{
        padding: 50px;
        padding-top: 10px;
         
        text-align: center;
    }
    .gallery-cell{
        width: 450px;
    }
    .gallery-cell p{
        position: absolute;
        top:55%;
        width: 85%;
        height: 40%;
        
        overflow:hidden;
    }   
    .overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color:  rgb(48, 5, 48);
        z-index: 998;
        top:-100vh;
        left: 50%;
        transform: translate(-50%,-100vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: .5s;
    }
    .overlay div{
    
        
        width: 100%;
        
        padding: 45px 0;
        text-align: center;
        align-items: center;
       justify-content: space-around;
       transition: .5s;
        
    }
    .overlay div:nth-child(1){
        margin-top: 50px;
    }
    .overlay div:hover{
        background-color:rgb(15, 1, 15) ;
    }
    #bars:checked  ~ .overlay{
      
        transform: translate(-50%,100vh)
    } 
    .navItem{
        z-index: 99999999999;
    }
}
