*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border:none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(197, 130, 4, 0.5);
    border-radius: 10px;
    height:40px;
    transition: .3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(197, 130, 4);
  }
a{
    color: white;
    text-decoration: none;
} body {
    width: 100%;
    
    margin: 0;
    padding: 0;
   
}
.nHead{
    background-color: green;
    position: sticky;
    top: 0;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    display: flex;
    flex-direction: row;
    background-color: rgb(78, 15, 78);
    color: white;
    font-family: Montserrat;
    /* padding: 15px; */
    z-index: 10000;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.384);
}

.OtherNavItems{
    position: relative;
    display: flex;
    padding: 30px;
    border-radius: 15px;
    flex-direction: row;
    
    /* margin-bottom: 40px; */
    z-index: 5;
    /* background-color: rgba(0, 0, 0, 0.596); */
    
}
.OtherNavItems div{
    position: sticky;
    margin-right: 40px;
    vertical-align: middle;
    z-index: 0;
   
}
.area{
    position: absolute;
}
.OtherNavItems div:nth-child(1){
    margin-left: 0;
}
.values{
    text-overflow: ellipsis;
}
.OtherNavItems div::after{
    content: '';
    margin-top: 5px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(197, 129, 4);
    transition: .5s;
}
.image{
    width: 200px;
    height: 100px;
}
.priscas{
    text-align: center;
    
    font-size: 40px;
    width: 100%;
    height: 100%;
    color: rgb(226, 150, 7);
    background: url('./images/priscas.png');
    
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.OtherNavItems div:hover::after{
    width: 100%;
}
.gallery {
    background: rgb(48, 5, 48);
    
  }
  
  .gallery-cell {
    margin-top: 15px;
    border-radius: 15px;
    width: 96%;
    height: 400px;
    padding: 25px;
    font-family: Montserrat;
    color:rgb(255, 255, 255);
    margin-right: 10px;
    background: url(https://images.unsplash.com/photo-1555507036-ab1f4038808a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFrZXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    background-position: center;
    counter-increment: gallery-cell;
    background-size: cover;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.315);
  }
  /* .gallery-cell:nth-child(1){
      background: url(https://images.unsplash.com/photo-1483695028939-5bb13f8648b0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJha2VyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  }
  .gallery-cell:nth-child(2){
      background: url(https://images.unsplash.com/photo-1568254183919-78a4f43a2877?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8YmFrZXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
  }
  .gallery-cell:nth-child(3){
      background: url(https://c0.wallpaperflare.com/preview/167/509/265/bread-korea-bakery-baguette-bread.jpg);
      background-size: cover;
  } */
  .gallery-cell h1{
      padding-top: 155px;
      padding-bottom: 30px;
  }
  .cpriscas{
      position: relative;
      width: 100%;
     
      
      margin: 45px 0;
     padding: 10px;
      font-size: 20px;
     
      font-family: Montserrat;
      display: flex;
      align-items: center;
      
  }
  .cpriscas .image{
      min-height: 300px;
      min-width: 300px;
      margin-right: 35px;
      border-radius: 50%;
     
     box-shadow: 0 0 30px rgba(128, 128, 128, 0.651);
     border: 8px solid  rgb(78, 15, 78);
     background: url(./aboutImage.jpeg);
     border-bottom: 8px solid  rgb(226, 150, 7);
     
  }
.cpriscas {
    padding-top: 50px;
}
.area{
    z-index: 0;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: red;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    z-index: 2000000000000000000000000000;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.ourService{
    position: relative;
    
   
    margin-top: 50px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 15px;
    background:  rgba(48, 5, 48, 0.178);
    
}
.ourService .header{
    position: sticky;
    width: 100%;
    padding-bottom: 15px;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Montserrat;
}
.card1{
    margin-bottom: 40px;
    
}
.card1, .card2{
   
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    font-family: Montserrat;
    width:30%;
    position: sticky;
    height: 100%-15px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.315);
    
    background: url('https://images.unsplash.com/photo-1483695028939-5bb13f8648b0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJha2VyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
   background-position: center;
   
    margin: 15px;
   
    
}
.cImage1:nth-child(1){
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU9BB_gQi5RymBn5Rg4myIvBVPkKH0aN70oA&usqp=CAU");
    background-size: cover;
}
.cImage2:nth-child(1){
    background: url("https://images.unsplash.com/photo-1566554273541-37a9ca77b91f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80");
    background-size: cover;
    background-position: 0px -70px;
}
.cImage2:nth-child(2){
    background: url("https://images.unsplash.com/photo-1590986201364-ce95ab280ca2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: contain;
}
.card span{
    position: absolute;
    font-size: 0px;
    width: 0px;
    height: 0px;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .2s;
    transition-property: background;
}
.card span div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;

}
.card:hover span{
    font-size: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.651);
}
.card:hover span div{
    font-size: 20px;
    background-color: grey;
}
.card:hover .header{
    display: none;
}


.card .header{
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 2px;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    padding: 15px;
    color: white;
    width: 100%;
    background-color: rgba(197, 130, 4, 0.405);
    text-align: center;
 
}
.footer{
    position: relative;
    background-color: rgb(15, 1, 15);
    font-family: Montserrat;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    
}
.social{
    font-size: 20px;
    
}
.social a{
    margin: 20px;
}

.card .description:hover{
    height: 100%;
    font-size: 20px;
}
#bars{
    z-index: 0;
    display: none;
    background-color: red;
}
.menuBox{
    display: none;
    z-index: 999;
}
.overlay{
    display: none;
}

.gallaria{
    background: none;
    margin-bottom: 30px;
}
.galleries{
    top: 50%;
  transform: translateY(-50%);
    border-radius: 0;
    width:300px;
    height: 200px;
    background-position: center;
    background-size: contain;
    
}
.galleries:nth-child(1){
    background: url("./images/cakes/1.jpeg");
    background-position: center;
    background-size:cover
    
}
.galleries:nth-child(2){
    background: url("./images/trining/5.jpg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(3){
    background: url("./images/cakes/3.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(4){
    background: url("./images/trining/12.jpg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(5){
    background: url("./images/cakes/5.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(6){
    background: url("./images/trining/7.jpg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(7){
    background: url("./images/cakes/7.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(8){
    background: url("./images/cakes/8.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(9){
    background: url("./images/cakes/9.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(10){
    background: url("./images/cakes/10.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(11){
    background: url("./images/cakes/11.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(12){
    background: url("./images/cakes/12.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(13){
    background: url("./images/cakes/13.jpeg");
    background-position: center;
    background-size: cover;
    
}
.galleries:nth-child(14){
    background: url("./images/cakes/14.jpeg");
    background-position: center;
    background-size: cover;
    
}
.GG{
    position: sticky;
    width: 100%;
    padding: 15px;
    padding-top: 30px;
    font-size: 35px;
    font-family: Montserrat;
    text-align: center;
}
.headDesc{
    position: sticky;
    width: 100%;
   padding-bottom: 10px;
    font-size: 25px;
    font-family: Montserrat;
    text-align: center;
}
.moreDesc{
    padding-top: 15px;
}
.GG::after, .headDesc::after, .ourService .header::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
    width: 5%;
    height: 3px;
    
    background-color:rgb(226, 150, 7);
}
.quote{
    font-size: 45px;
    color: rgb(204, 135, 8);
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.reviews{
    height: auto;
    width: 100%;
    background: none;
    color: black;
    box-shadow: none;
    padding: 90px 300px;
    padding-top: 30px;
    text-align: center;
}
.reviewer{
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
}
.map{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* top: 50%;
    left: 15%;
    transform: translate(-15%,-50%); */
   
    
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.617);
}
.enquiry{
    padding: 20px;
  position: relative;
   
    width: 100%;
    height: 60vh;
   display: flex;
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(48, 5, 48);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.555);
}
.enquiry div{
    width: 40%;
    height: 100%;
}
.moreContact{
    /* position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%,-50%); */
    
  
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.moreContact header{
    font-family: Montserrat;
    color: white;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    background: rgba(0, 0, 0, 0.466);
    
}
.moreContact a{
    display: block;
}
.moreContact> a {
    /* position: absolute; */
    
    height: 50%;
    width: 100%;
    background-color: rgba(197, 130, 4, 0.761);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.moreContact div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.moreContact a:nth-child(4){
    margin: 0;
}
.moreContact p{
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    transition: .3s;
}
.moreContact i{
    color: white;
    margin-right: 15px;
    transition: .2s;
}
.moreContact a:hover{
   

 
    background-color: rgb(48, 5, 48);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.555);
  
}
.moreContact a:hover i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: rgba(197, 130, 4, 0.761);
    border-radius: 50%;
    text-align: center;
    align-self: center;
    
}